<footer class="the-footer">
    <div class="unit-foot">
        <div class="unit-inner unit-foot-inner">
            <div class="misc vcard">
                <div class="about">
                    <h4><a href="{{ site.paths.home | relative_url }}">{{ site.data.i18n[site.lang].about }}</a></h4>
                    {% if site.blog.footer_content %}
                        <p>{{ site.blog.footer_content }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="internal back-to-top">{{ site.data.i18n[site.lang].back_to_top }}</a>
</footer>
