$fonts-heading: 'Ubuntu Condensed', Helvetica, sans-serif;
$fonts-body: 'Bitter', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
$fonts-code: Monaco, 'Lucida Console', monospace;
$color-text: rgba(0, 0, 0, .8);
$color-hover: #FF9900;
$color-hover-transparent: rgba(255, 153, 0, .7);
$color-meta-link-hover: #797979;
$color-box-border: #ADADAD;
$color-code-background: #272822;
$color-inline-code-background: #EAEAEA;
