<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
    <small class="label">{{ site.data.i18n[site.lang].share_post }}</small>
    <a class="btn-share-post addthis_button_email"></a>
    <a class="btn-share-post addthis_button_facebook"></a>
    <a class="btn-share-post addthis_button_google_plusone_share"></a>
    <a class="btn-share-post addthis_button_reddit"></a>
    <a class="btn-share-post addthis_button_twitter"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ site.addthis_public_id }}"></script>