<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script>window.Modernizr || document.write('<script src="{{ site.baseurl }}/assets/javascripts/modernizr-2.8.3.min.js"><\/script>')</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="{{ site.baseurl }}/assets/javascripts/jquery-3.3.1.min.js"><\/script>')
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
<script>
    window.Pace || document.write('<script src="{{ site.baseurl }}/assets/javascripts/pace.min.js"><\/script>')
</script>
